@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {box-sizing:border-box}
.mySlides {display: none;}
img {vertical-align: middle;}

body{
    font-family: lato, sans-serif;
    font-weight: 300;
    padding: 0;
    font-size: 12px;
    margin: 0 auto;
    color: #1c1c1c;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}
.clear{
    clear:both;
}
p{
    padding:0;
    margin:0px;
    text-align: left;
    line-height: 20px;
}

h1{
    font-weight: 300;
    color: #1c1c1c;
    font-size: 26px;
    margin: 0;
    padding: 0 0 25px 0;
}
h2{
    font-weight: 300;
    color: #1c1c1c;
    font-size: 21px;
    margin: 0;
    padding: 0 0 25px 0;
    
}
h3{
    font-weight: 300;
    color: #1c1c1c;
    font-size: 18px;
    margin: 0;
    padding: 0 0 25px 0;
}
h4{
    font-weight: 300;
    color: #1c1c1c;
    font-size: 16px;
    margin: 0;
    padding: 0 0 25px 0;
}
h5{
    font-weight: 300;
    color: #1c1c1c;
    font-size: 14px;
    margin: 0;
    padding: 0 0 25px 0;
}
h6{
    font-weight: 300;
    color: #3466aa;
    font-size: 12px;
    margin: 0;
    padding: 0 0 25px 0;
}

h1, h2, h3, h4{
    font-family: oswald, sans-serif;
}

/* Logo and menu*/
#wrap{
    margin: auto;
    width: 1000px;
    padding: 0 0 40px 0;
}
.main_content{
    clear:both;
}
#header{
    width: 100%;
    height: 140px;
    background-color: #82b7dc;
}
.header_content{
    width: 1000px;
    margin: auto;
    line-height: 140px;
}
.logo{
    float: left;
    margin: 0 0 0 40px;
    padding: 0px;
    font-family: oswald, sans-serif;
    color: #f1f1f1;
    font-size: 48px;

}
.logo a{
    color:#f1f1f1;
}
.logo span{
    font-size: 14px;
    color: #f1f1f1;
}
.top_slogan{
    text-align: center;
    font-family: oswald, sans-serif;
    color: #808080;
    font-size: 30px;
    padding: 50px 150px;
    font-style: italic;
    line-height: 40px;
}

.menu{
    float: right;
    padding: 0 20px 0 0;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;  
}
.menu ul li{
    float: left;
    padding: 0 20px 0 20px;
    height: 35px;
}
.menu ul *{
    margin:0;
    padding:0;
}
 .menu ul li a{
    font-family: lato, sans-serif;
    color:#f1f1f1;
    font-size: 16px;
 }
 .menu ul li.selected a{
    color:#1c1c1c;
 }
 .menu ul li a:hover{
    color:#1c1c1c;
 }
 /* Slideshow container */
 .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    text-align:center;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
 /* Body Structure */
 .section_one_three{
    width: 320px;
    float: left;
    padding: 40px 0 0 40px;

 }
 .section_full{
    width: 1000px;
    float: left;
 }

 .roundimg{
    width:180px;
    height: 180px;
    display: block;
    border-radius: 90px;
    -moz-border-radius:90px;
    -webkit-border-radius:90px;
    -khtml-border-radius:90px;
    margin:auto;
    background-color: #808080;
    text-align: center;
    padding:30px 0 0 0;
 }
 .roundimg img{
    margin:auto;
    display:block;
 }
 h2.centered_title{
    text-align: center;
 }
 p.centered_text{
    padding:10px 20px;
}
 /* Footer */
 
.footer{
    width: 100%;
    height: 140px;
    background-color: #82b7dc;
}

.social-networks{
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 1.5%;
    padding: 1%;
    color: #1c1c1c;
}
/*Media Queries*/

@media  screen and (max-width: 1000px){
    #wrap{
        margin:0 auto;
        width:100%;
}
#header{
    width:100%;
    height:auto;
    float:left;
    background-color: #82b7dc;
    padding-bottom: 40px;
}
.header_content{
    width:100%;
    float:left;
    margin:auto;
    line-height: 100px;
}
.logo{
    margin: 0 0 0 30px;
}
.logo span{
    display:none;
}
.section_one_three, .section_full{
width:92%;
float: left;
padding: 5% 0 0 4%;
}
.menu{
    float:left;
    clear:both;
    padding:0px 0 0px 0;
    width:100%
}
.menu ul{
    list-style:none;
    margin: 0px;
    padding: 0 20px 0 20px;
}
.menu ul *{
    margin:0;
    padding:0;
}
.menu ul li{
    width: 100%;
    float: left;
    padding: 0px;
    height: auto;
    border-bottom:1px #f1f1f1 solid;
    height: 35px;
    line-height: 35px;
}
.menu ul li a{
    color: #FFFFFF;
    font-size: 20px;
    padding: 0 0 0 10px;
    display: block;
    cursor: pointer;
}
.menu ul li a:hover{
    color: #1c1c1c;
}
.top_slogan{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
}
}


 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }